.body{
background-image: url(grade-calculator.2e16d0ba.fill-40000x30000.jpg);
color: white;
font-size: xx-large;
border-color: white;
border-radius: 10px 15px;
display: flex;
justify-content: center;
font-family: Arial, Helvetica, sans-serif;
background-size: cover;
background-repeat: no-repeat;

}
div {/* From https://css.glass */
    background: rgba(84, 29, 29, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.7px);
    -webkit-backdrop-filter: blur(0.7px);
    border: 1px solid rgba(84, 29, 29, 1);
    padding: 2rem;

}